<ion-header>

  <ion-navbar>
    <ion-title>Novo Usuário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="userForm">

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="!userForm.controls.name.valid  && (userForm.controls.name.dirty || submitAttempt)">
        <p>Nome obrigatório!</p>
    </ion-item>

    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="!userForm.controls.email.valid  && (userForm.controls.email.dirty || submitAttempt)">
        <p>E-mail obrigatório!</p>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="!userForm.controls.password.valid && submitAttempt">
        <p>Senha obrigatório!</p>
    </ion-item>
    
  </form>
  <button ion-button block color="secondary" (click)="onCreateUser()">Criar Usuário</button>

</ion-content>
